---
import Container from "./ui/Container.astro";
---

<div
  class="relative overflow-hidden"
  style="background: url('/images/BG9.jpg'); background-size: cover; background-position: 40%;"
  id="home"
>
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <div
    class="h-3/4 w-full bg-gradient-to-t from-black/90 to-transparent absolute bottom-0 left-0"
  >
  </div>
  <Container>
    <div class="relative py-12 ml-auto">
      <div class="lg:w-4/5 text-center mx-auto">
        <h1
          class="text-white text-3xl md:text-4xl xl:text-5xl font-black my-4 drop-shadow-md"
        >
          GSFC University 
        </h1>
        <h1
          class="text-white text-xl md:text-2xl xl:text-4xl font-black my-4 drop-shadow-md"
        >
          Organizes
        </h1>

        <h1
          class="text-white font-bold text-3xl md:text-5xl xl:text-5xl drop-shadow-lg"
        >
          1<sup>st</sup> International Conference on

          <br />Interdisciplinary Horizons: Integrating AI in Science,
          Management, and Technology
        </h1>

        <h1
          class="text-white text-3xl md:text-4xl xl:text-5xl font-black my-8 drop-shadow-md"
        >
          ICON-AI-SMT'25
        </h1>
        <p
          class="mt-4 text-info font-medium md:text-lg lg:text-xl mb-8 bg-white inline-block rounded-lg px-6 py-2"
        >
          February 20-21, 2025 - Vadodara, Gujarat, India
        </p>
        <br>
        <p
          class="text-white text-md bg-info rounded-lg shadow-md inline-block py-1 px-3"
        >
          Submission closed (papers are under review)
        </p>

        <div
          class="flex flex-col sm:flex-row gap-8 items-center justify-center my-8 bg-white p-4 rounded-lg max-w-max mx-auto"
        >
          <img
            src="/images/logos/Springer Logo.png"
            alt="logo"
            class="h-12 w-auto"
          />
          <img
            src="/images/logos/CCIS Logo.jpg"
            alt="logo"
            class="h-12 w-auto"
          />
          <img
            src="/images/logos/Scopus Logo.png"
            alt="logo"
            class="h-12 w-auto"
          />
        </div>
      </div>
    </div>
  </Container>
</div>
