---
import Container from "./ui/Container.astro";
import Link from "./ui/Link.astro";

// Publication

// All the full-length papers presented at the conference will be submitted to the IEEE Xplore Digital Library (Scopus Indexed) (IEEE Conference Record No. 58432), subject to meeting IEEE's quality requirements and publication policy.
// IEEE Conference Number: 58432
// Xplore Compliant ISBN: 979-8-3503-7212-0
// Part Number: CFP24KZ7-ART
---

<Container>
  <section id="publication" class="space-y-10">
    <h1
      class="text-4xl font-bold text-center text-gray-800 dark:text-white md:text-5xl"
    >
      Manuscript Submission and Publication
    </h1>

    <div class="mt-8">
      <h3
        class="text-2xl font-bold text-gray-800 dark:text-white mb-4 text-center"
      >
        Submission
      </h3>
      <p>
        Kindly submit your manuscript through the provided <Link
          href="https://cmt3.research.microsoft.com/ICONAISMT2025"
          >Microsoft CMT</Link
        > system link. Submissions via email will not be accepted.
      </p>
    </div>

    <div class="mt-8">
      <h3
        class="text-2xl font-bold text-gray-800 dark:text-white mb-4 text-center"
      >
        Abstracting/Indexing of CCIS Springer
      </h3>
      <p>
        CCIS is abstracted/indexed in DBLP, Google Scholar, EI-Compendex,
        Mathematical Reviews, SCImago, <span class="font-bold text-info">
          Scopus</span
        >. CCIS volumes are also submitted for the inclusion in ISI Proceedings.
      </p>
    </div>

    <div class="mt-8">
      <h3
        class="text-2xl font-bold text-gray-800 dark:text-white mb-4 text-center"
      >
        Publication
      </h3>
      <p>
        The proposal to publish the proceedings of ICON-AI-SMT’25 has been
        approved by Springer’s Communications in Computer and Information
        Science (CCIS) series. All accepted and registered papers from
        ICON-AI-SMT’25 will be submitted for publication in the CCIS series by
        Springer. (Subject to accpetance by Springer)
        <br />
        <Link href="https://www.springer.com/series/7899">Springer CCIS</Link>
      </p>
    </div>

    <div class="mt-8">
      <h3
        class="text-2xl font-bold text-gray-800 dark:text-white mb-4 text-center"
      >
        Publication Partner
      </h3>
      <div
        class="flex flex-col sm:flex-row gap-8 items-center justify-center max-w-max mx-auto"
      >
        <img
          src="/images/logos/Springer Logo.png"
          alt="logo"
          class="h-16 w-auto"
        />
        <img src="/images/logos/CCIS Logo.jpg" alt="logo" class="h-16 w-auto" />
        <img
          src="/images/logos/Scopus Logo.png"
          alt="logo"
          class="h-16 w-auto"
        />
      </div>
    </div>

    <!-- <div class="space-y-4">
      <img
        src="/images/logos/Springer Logo.png"
        alt="Publications"
        class="w-56 mx-auto"
      />
      <p class="text-lg font-medium">
        It is planned to publish the peer reviewed and selected papers of
        conference as proceedings with Springer in their prestigious
        LNCS/LNEE/CCIS series.
      </p>
      <a
        href="https://resource-cms.springernature.com/springer-cms/rest/v1/content/19242230/data/v13"
        target="_blank"
        rel="noopener noreferrer"
        class="text-lg font-medium text-blue-500 hover:text-blue-600 underline py-2 inline-block"
        >Guidelines for Authors
      </a>
      <br />
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="text-lg font-medium text-blue-500 hover:text-blue-600 underline py-2 inline-block"
        >Link for Submission
      </a>
    </div> -->
  </section>
</Container>
